body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(172, 167, 167, 0.2);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin: 15px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    padding: 12px;
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 15px;
}

.right img,
button {
    margin: 0 0.5rem;
}

.design {
    width: 150px;
    padding: 10px;
    background-color: rgb(135, 135, 216);
    color: white;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: green;
    color: white;
    outline: none;
    font-size: 20px;
    border: none;
}

.lists {
    display: block;
    position: absolute;
    width: fit-content;
    top: 40px;
    left: 50px;
}

* {
    margin: 0%;
    padding: 0%;
}

.spotlight {
    display: flex;
    max-width: 100%;
    max-height: 100vh;
    justify-content: center;
    /* align-items: center; */
    margin: 5%;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(21, 20, 20, 0.2);
    border-radius: 5px;
}

.spot {
    max-width: fit-content;
}

li {
    margin: 20px;
    list-style: none;
    color: rgb(80, 76, 76);
}

.bold {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.videos {
    box-sizing: border-box;
    box-shadow: -2px 0 2px 0 rgba(21, 20, 20, 0.2);
    object-fit: contain;
    padding: 1rem;
}

.videos ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videos img {
    display: flex;
    align-items: center;
    justify-content: center;
    /* object-fit: scale-down; */
    border-radius: 10px;
    border: none;
}

p {
    margin-top: 10px;
    color: rgb(80, 76, 76);
}

.suite,
.team {
    display: flex;
    margin: 1rem;
}

.con {
    margin-left: 8px;
}

.vid img {
    width: 60px;
    height: 60px;
    border-radius: 5%;
    margin: 5px 5px;
}

.vid {
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: -2px 0 2px 0 rgba(21, 20, 20, 0.2);
}

.con p {
    width: 100%;
}

.edu img {
    width: 60px;
    height: 60px;
    border-radius: 5%;
    margin: 5px 5px;
}

.price {
    padding: 10px;
}

.price img {
    border-radius: 5%;
    margin: 5px 5px;
}

.pric {
    box-sizing: border-box;
    box-shadow: -2px 0 0 0 rgba(21, 20, 20, 0.2);
    overflow-x: auto;
}

.pric img {
    width: 60px;
    height: 60px;
    border-radius: 5%;
    margin: 5px 5px;
}